.App{
  text-align: center;
  color: black;
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .chatbot-box{
  display: flex;
  border-top: black;
  justify-content: center;
  align-items: center;
} */